.pagination {
  width: 100%;
  height: rem-calc(70);
  text-align: center;
  margin: rem-calc(20) auto 0;

  @include breakpoint(large){
    margin: 0 auto;
  }

  &__item {
    font-size: rem-calc(14);
    padding: rem-calc(15) rem-calc(22);
    margin-right: rem-calc(10);

    &:hover {
      cursor: pointer;
      color: $blue;

    }
    &__left,
    &__right {

      border: solid $grey;
      border-width: 0 rem-calc(1) rem-calc(1) 0;
      display: inline-block;
      padding: rem-calc(5);
    }
    &__left {
      transform: rotate(135deg);
    }
    &__right {
      transform: rotate(-45deg);
    }

    &--active {
      border: $base-border;
      border-radius: 50%;
    }
    &--disabled {
      border-radius: 50%;
      color: $black;
      background-color: whitesmoke;
      cursor: none;
    }

  }
}
