&__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all 0.5s ease;

  &__counter,
  &__submit {
    background-color: $button-grey;
    display: inline-block;
    transition: all 0.5s ease;
  }

  &__counter {
    border: $base-border;
    border-radius: rem-calc(30);
    justify-content: center;
    vertical-align: middle;
    width: rem-calc(90);
    height: rem-calc(40);
    text-align: center;

    &__button,
    &__quantity {
      height: 100%;
      display: inline-block;
      font-size: rem-calc(14);
      font-weight: 700;
      background-color: transparent;
      text-align: center;
      padding: 0;
      margin: 0;
      transition: all 0.5s ease;
    }

    &__button {
      border: none;
      padding: 0 rem-calc(8);
      font-size: rem-calc(16);
    }

    &__quantity {
      width: rem-calc(35);
      text-align: center;
      padding: 0;
      border: none;
    }
  }

  &__submit {
    width: rem-calc(115);
    border: $base-border;
    border-radius: rem-calc(40);
    background-color: $blue;
    color: $white;
    transition: all 0.5s ease;

    &__add {
      margin-right: rem-calc(2);
    }

    &--remove {
      background-color: $red;
    }
  }
}
