&__header {
  transition: all 0.5s ease;
  position: relative;

  &__sale{
    display: none;

    &--active{
      position: absolute;
      top: 0;
      right: rem-calc(5);
      padding: rem-calc(2) rem-calc(15);
      font-weight: 600;
      border-radius: rem-calc(5);
      font-size: rem-calc(14);
      background-color: $blue;
      color: $white;
    }

  }

  &__figure {
    text-align: center;
    margin-bottom: rem-calc(30);
    transition: 0.2s;

    &__image {
      height: rem-calc(165);
      transition: all 0.5s ease;
      margin-top: rem-calc(25);
    }
  }
}
