.filter-sidebar {
  display: none;
  @include breakpoint(medium) {
    display: block;
    border-top: none;
    height: 100%;
  }
  &__item {
    &__category,
    &__size {
      &__header {
        border-bottom: rem-calc(1) solid $button-grey;
        margin: 0 rem-calc(10);
        padding: rem-calc(10) rem-calc(35);
        @include breakpoint(large) {
          margin: 0 rem-calc(30);
        }
      }
      &__btn-close,
      &__title {
        display: inline-flex;
        align-content: center;
        vertical-align: middle;
      }
      &__btn-close {
        transform: rotate(45deg);
        font-size: rem-calc(24);
        text-align: right;
        float: right;
        color: $light-grey;
      }
      &__title {
        font-size: rem-calc(14);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: rem-calc(2);
        margin: 0;
        &:before {
          content: '';
          width: rem-calc(8);
          height: rem-calc(8);
          margin-right: rem-calc(20);
          margin-top: rem-calc(3);
          transform: rotate(45deg);
          display: inline-block;
          border-bottom: 2px solid rgb(0, 0, 0);
          border-right: 2px solid rgb(0, 0, 0);
          transition: 0.3s;
        }
      }
    }

    &__category {
      &__submenu {
        padding: rem-calc(25);

        @include breakpoint(large) {
          padding: rem-calc(10) rem-calc(50);
        }

        &__item {
          display: block;
          margin-bottom: rem-calc(15);

          &__checkbox {
            margin-right: rem-calc(15);
            display: inline-block;
          }

          &__number {
            float: right;
            display: inline-block;
            font-size: rem-calc(14);
          }
        }
      }
    }

    &__size {
      &__submenu {
        text-align: center;
        width: 100%;
        padding: rem-calc(30);

        &__item {
          display: inline-block;
          width: rem-calc(60);
          height: rem-calc(60);
          line-height: rem-calc(60);
          vertical-align: middle;
          border: $base-border;
          border-right: none;

          &__button {
            font-size: rem-calc(14);
            font-weight: 700;
            height: 100%;
            width: 100%;
            text-transform: uppercase;
          }

          &:last-child {
            border-right: $base-border;
          }
          &--active {
            box-shadow: $light-grey 0 0 rem-calc(15) 0;
          }
        }
      }
    }
  }
}
