.accordion {
  border-bottom: $base-border;
  border-left: $base-border;
  border-right: $base-border;
  transition: all 0.3s ease-in-out;

  &__title {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    width: 100%;
    border-bottom: rem-calc(1) solid $button-grey;
    padding: rem-calc(25) rem-calc(30);

    @include breakpoint(large) {
      margin: 0 rem-calc(30);
    }

    @include breakpoint(large) {
      width: 85%;
    }

    &__arrow {
      &:before {
        content: '';
        width: rem-calc(8);
        height: rem-calc(8);
        margin-right: rem-calc(20);
        margin-top: rem-calc(3);
        transform: rotate(45deg);
        display: inline-block;
        border-bottom: 2px solid rgb(0, 0, 0);
        border-right: 2px solid rgb(0, 0, 0);
        transition: 0.3s;
      }

      &--show {
        &:before {
          transform: rotate(-135deg);
        }
      }
    }
    &__btn-close {
      display: none;

      &--show {
        display: inline;
        font-weight: 500;
        color: $light-grey;
        font-size: rem-calc(14);
        cursor: pointer;
        float: right;
      }
    }

    &__name {
      font-size: rem-calc(14);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: rem-calc(2);
      margin: 0;
      width: 100%;
      text-align: left;
      height: 100%;
    }
  }

  &__body {
    color: $black;
    z-index: 2;
    overflow-y: hidden;
    max-height: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    &--selected {
      display: block;
      max-height: rem-calc(450);
      transition: all 0.3s ease-in-out;
      padding: rem-calc(20) rem-calc(15);
      color: $black;
      z-index: 2;
      overflow-y: hidden;

      @include breakpoint(large) {
        padding: rem-calc(20) 0;
      }
    }
  }
}
