$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 20%);
button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $base-font-family;
    font-size: rem-calc(12);
    font-weight: 600;
    color: $grey;
    &:hover {
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        cursor: not-allowed;
    }
}
