// Colors
$white: #fff;
$light-blue: #5A889A;
$medium-blue: #234E79;
$blue: #3F5C85;
$brown: #d3bcac;
$light-brown: #FDD8B4;
$dark-brown: #918377;
$grey: #363637;
$light-grey: #d3d3d3;
$button-grey: #f7f7f7;
$black: #000;
$red: #6B0504;
