$_form-background-color: #fff;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($action-color, 0.7);
form {
  fieldset {
    padding: 0;
    border: none;
    legend {
      font-size: rem-calc(12);
      text-transform: uppercase;
      letter-spacing: rem-calc(0.5);
      margin-bottom: rem-calc(28);
    }
    p{
      display: block;
    }
  }
}

input[type='text'],input[type='email'] {
  padding: rem-calc(15) rem-calc(30);
  font-family: $base-font-family;
  font-size: rem-calc(12);
  &:hover {
    border-color: shade($base-border-color, 20%);
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: shade($_form-background-color, 5%);
    cursor: not-allowed;
    &:hover {
      border: $base-border;
    }
  }
  &::placeholder {
    font-family: $base-font-family;
    font-size: rem-calc(12);
    font-weight: 600;
    padding: 0;
  }
}
input[type='number']{
  text-align: center;
}
select{
  width: 100%;
  height: 100%;
  background-color: $white;
  border: none;
  font-size: rem-calc(14);
  -webkit-appearance:none;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
}
