html {
    background-color: $viewport-background-color;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}
.container {
  padding: 0 3%;
  @include mobile-tablet {
    padding: 0;
  }
}
