@import 'colors';

// Typography
$base-font-family: 'Montserrat',
sans-serif;
$heading-font-family: 'Playfair Display',
serif;
$alternative-base-font-family: 'Poppins',
sans-serif;
// Line height
$base-line-height: 1.5;
$heading-line-height: 1.5;
// Other Sizes
$browser-context: 16;
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-font-color: $black;
$action-color: $blue;
// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$banner-border: 3px solid $white;
// Background Colors
$viewport-background-color: #fff;
// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;
// Animations
$base-duration: 150ms;
$base-timing: ease;
