.banner-container {
  display: flex;
  height: rem-calc(320);
  margin-top: 0;

  @include breakpoint(large) {
    margin-top: rem-calc(-80);
  }

  &__small,
  &__large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    align-content: center;
    background-position: top left;
    background-color: $brown;

    @include breakpoint(medium) {
      background-size: cover;
    }

    &__figcaption {
      color: $white;

      &__category {
        font-size: rem-calc(14);
        letter-spacing: rem-calc(2);
        text-transform: uppercase;
      }

      &__title {
        font-size: rem-calc(30);
        font-weight: 700;
        font-family: $heading-font-family;
        margin-bottom: rem-calc(55);
        letter-spacing: rem-calc(1);
        line-height: 1;
      }

      &__button {
        background-color: $white;
        width: rem-calc(150);
        height: rem-calc(40);
        border-radius: rem-calc(40);
        text-align: center;
        font-size: rem-calc(14);
        color: $brown;
        box-shadow: 0 0 rem-calc(20) 0 $dark-brown;
      }
    }
  }
  @import 'large-banner';
  @import 'small-banner';
}
