&__small {
  width: 100%;

  @include breakpoint(medium) {
    width: 30%;
    padding: 0;
    background-position: left;
  }

  &__figcaption {
    padding: 0 40%;

    @include breakpoint(medium) {
      text-align: center;
      padding: rem-calc(30);
    }
  }
}
