$base-border-filter: rem-calc(1) solid $light-grey;
.filter-list {
  height: rem-calc(75);

  &__item {
    line-height: rem-calc(75);
    border-right: $base-border-filter;
    border-bottom: $base-border-filter;
    color: $black;
    font-size: rem-calc(14);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: rem-calc(1);
    height: 100%;
    display: none;

    &:first-child {
      border-left: $base-border-filter;
    }
    &:last-child {
      border-right: none;
    }
    &--centered {
      padding: 0 rem-calc(20);
    }

    &--show-medium {
      @include breakpoint(medium) {
        display: block;
      }
    }
    &--show-large {
      @include breakpoint(large) {
        display: block;
      }
    }
    &--show-small {
      display: block;
      width: 100%;
      @include breakpoint(medium) {
        display: none;
      }
    }

    &__title {
      height: 100%;

      &__name {
        @include breakpoint(large) {
          padding: 0 rem-calc(10);
        }
      }

      &__refresh {
        text-align: right;
        fill: $blue;
        border-left: $base-border-filter;
        padding-top: rem-calc(5);
      }
    }

    &__button {
      height: rem-calc(75);
      display: block;
      fill: $blue;
      border-right: $base-border-filter;
      transition: all 0.3s ease;
      border-bottom: $base-border-filter;
      &--selected {
        background-color: $blue;
        color: $white;
        fill: $white;
        font-size: rem-calc(14);
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
      }
    }
  }
}
