@mixin desktop {
  @media (min-width: rem-calc(1192px)) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: rem-calc(1192px)){
    @content;
  }
}
@mixin tablet-up {
  @media (min-width: rem-calc(480px)){
    @content;
  }
}

@mixin tablet {
  @media ( min-width: rem-calc(480px)) and (max-width: rem-calc(1192px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: rem-calc(480px)) {
    @content;
  }
}
