.banner-carousel {
  &__figure {
    position: relative;
    height: 100%;

    &__img {
      width: 100%;
      height: rem-calc(250);
      object-fit: cover;
    }

    &__caption {
      position: absolute;
      width: 90%;
      height: 70%;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: $banner-border;
      border-radius: rem-calc(10);
      padding: rem-calc(20);
      color: $white;
      text-align: center;

      @include breakpoint(medium) {
        height: 70%;
        width: 40%;
      }

      @include breakpoint(large) {
        height: 60%;
        width: 25%;
        margin: 0;
        top: 20%;
        left: 10%;
      }

      &__category {
        text-transform: uppercase;
        font-size: rem-calc(14);
        margin: 0;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: rem-calc(2);
      }

      &__title {
        font-family: $heading-font-family;
        font-size: rem-calc(30);
        margin: 0;
        line-height: 1.3;
      }
    }
  }
}
