&__left {
  &__social {
    &__item {
      &__link {
        padding: 0;
        padding-right: rem-calc(25);
      }
    }
  }

  &__logo {
    font-weight: 900;
    font-style: italic;
    font-size: rem-calc(24);
    margin-bottom: rem-calc($_header-section-bottom);
  }
}
