&__right {
  &__contact {
    &__title {
      font-size: rem-calc(12);
      font-family: $base-font-family;
      letter-spacing: rem-calc(1);
      text-transform: uppercase;
      margin-bottom: rem-calc($_header-section-bottom /2);
    }

    &__address {
      font-size: rem-calc(12);
      font-weight: 600;
      margin: 0;
    }
  }

  &__cards {
    margin-top: rem-calc($_header-section-bottom /2);

    &__item {
      padding-right: rem-calc(10);
    }
  }
}
